<ion-view>
<div class="bar bar-header bar-positive">
  <h1 class="title">Login</h1>
</div>
  <ion-content  padding="true" class="has-header" ng-controller="LoginCtrl">
    <form id="login-form1" class="list" ng-submit="doSignIn()">
      <div >
        <img src="img/cart.png" style="display: block; width: 40%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <div class="spacer" style="height: 40px;"></div>
      <ion-list id="login-list2">
        <label class="item item-input" id="login-input1">
          <span class="input-label">Email</span>
          <input type="text" ng-model="userData.UserName" placeholder="">
        </label>
        <label class="item item-input" id="login-input2">
          <span class="input-label">Password</span>
          <input type="password" ng-model="userData.Password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <button id="login-button1" style="color:#FFFFFF;" class="button button-positive button-block" type="submit">Log in</button>
    </form>
    <a href="/#/signUp" id="login-button3" class="button button-positive button-block button-clear">Or create an account</a>
  </ion-content>
</ion-view>
